# Ignore everything
*

# Don't ignore folders
!*/

build/
dist/
nbproject/
Root/
test/
tmp/

# Don't ignore .gitignore and *.java files
!.gitignore
!*.java

# Don't ignore res images
!*.jpg
!*.png
!*.gif